VITE_SUPABASE_URL=https://ldnkbkpdtxtkydumjnyl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxkbmtia3BkdHh0a3lkdW1qbnlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NDA3MDQsImV4cCI6MjA5NDIxNjcwNH0.MHyvLACybyhpNnk6BTAfGODOHTXQeFhcZEQG_rSl0xk
